<div class="col-10 offset-1">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/nagashi">Charles "Chas" O'Riley</a>. He is an aspiring web designer and data enthusiast who is passionate about mastering his craft.  "What is design?" I do believe design is creating an artistic or skillful solution to solve a given problem.  It’s not purely aesthetic or purely functional, but a combination of both to serve a specific purpose.
  </p>
 
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>
    <br class="clear" /> 
    <div class="col-12 col-sm-7 offset-sm-1 ">
      <p>
        Charles' experience comes from the years he has spent working as a
        Client Server Developer/SQL Analyst in industries as diverse as Healthcare, Government, Finance, Marketing, Agriculture, Retail, Energy, Defense, and Transportation. His journey started as an intern designing and developing multimedia computer-based and lecture training systems for the Air Force C-141 project.  
      </p>
    </div>
  </div>
    <br />
    <br />
    <br />
</div>


<!--
<div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="container">
      <h2 class="text-center">Charles "Chas" O'Riley</h2>
      <br />
      <p>
        Charles "Chas" O'Riley is a web developer and user experience product manager. He consulted Fortune 500 companies like P&G and John Deere, won Boston's biggest Hackathon (<a target="_blank" href="http://www.angelhack.com/">Angelhack</a>) and most recently led the user experience for <a target="_blank" href="https://www.peertransfer.com/">peerTransfer</a>, building a $500M/year international tuition payment platform. In an earlier life, he travelled around the world on <a target="_blank" href="http://25dollartravel.com">$25/day</a> for an entire year.
      </p>
    </div>
  </div>
-->
