<div class="col-10 offset-1">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/nagashi">Charles "Chas" O'Riley</a>. He is an aspiring web designer and data enthusiast who is passionate about mastering his craft.  "What is design?" I do believe design is creating an artistic or skilful solution to solve a given problem.
  </p>
  <br />
  <p>
    His experience comes from the years he have spent working as a Client Server Developer in different industries, on different projects.  He is interested in learning and sharing knowledge.  
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

<div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Charles "Chas" O'Riley</h2>
      <br />
      <p>
        Charles "Chas" O'Riley is a web developer and user experience product manager. He consulted Fortune 500 companies like P&G and John Deere, won Boston's biggest Hackathon (<a target="_blank" href="http://www.angelhack.com/">Angelhack</a>) and most recently led the user experience for <a target="_blank" href="https://www.peertransfer.com/">peerTransfer</a>, building a $500M/year international tuition payment platform. In an earlier life, he travelled around the world on <a target="_blank" href="http://25dollartravel.com">$25/day</a> for an entire year.
      </p>
    </div>
  </div>
  <br class="clear" />

  
</div>